%div.min-h-users.text-black.font-nav.text-2xl
  .flex.justify-center
    - if current_user.avatar.url.present?
      = image_tag(current_user.avatar.url, size: '150x150')
    - else
      = image_tag('default.jpg', size: '150x150')
  .block.flex.justify-center
    = t('.profile_first_name')
    = @user.first_name
  .block.flex.justify-center
    = t('.profile_last_name')
    = @user.last_name
  .block.flex.justify-center
    = t('.profile_email')
    = @user.email
  .block.flex.justify-center
    = t('.profile_phone_number')
    = @user.phone_number
  .block.flex.justify-center
    = t('.profile_locale')
    = @user.locale
  .block.flex.justify-center
    %button.form-btn.flex.justify-center
      = link_to t('helpers.edit.edit_profile').html_safe, edit_user_registration_path
