%div.min-h-users.text-black.font-nav.text-2xl
  .flex.justify-center
    - if current_user.avatar.attached?
      = image_tag(current_user.avatar_thumbnail)
    - else
      = image_tag("default.jpg")
  .block.flex.justify-center
    Ім'я:
    = @user.first_name
  .block.flex.justify-center
    Прізвище:
    = @user.last_name
  .block.flex.justify-center
    E-mail:
    = @user.email
  .block.flex.justify-center
    Телефон:
    = @user.phone_number
  .block.flex.justify-center
    %button.form-btn.flex.justify-center
      = link_to "Редагувати дані".html_safe, edit_user_registration_path
