%div.min-h-users.text-black.font-nav.text-2xl
  .flex.justify-center
    - if current_user.avatar.url.present?
      = image_tag(current_user.avatar.url, size: '150x150')
    - else
      = image_tag('default.jpg', size: '150x150')
  .block.flex.justify-center
    Ім'я:
    = @user.first_name
  .block.flex.justify-center
    Прізвище:
    = @user.last_name
  .block.flex.justify-center
    E-mail:
    = @user.email
  .block.flex.justify-center
    Телефон:
    = @user.phone_number
  .block.flex.justify-center
    Мова:
    = @user.locale
  .block.flex.justify-center
    %button.form-btn.flex.justify-center
      = link_to "Редагувати дані".html_safe, edit_user_registration_path
