%article.card.justify-center.min-w-fit.hover:bg-gray-100
  %section.mb-2.text-md.text-center
    %p.mb-2
      = order.user.name_or_email
    %p.mb-2
      = order.created_at.strftime("%Y-%m-%d")

    %div.px-2.mb-2.min-h-card.text-left
      %ol
      - order.dishes.each do |dish|
        %li
          = dish.name
    %p.mb-3
      - if order.completed == true
        = 'completed'
      - else
        = 'pending'

  %section.flex.justify-center
    - if policy(order).update?
      = link_to 'Toggle', user_order_path(order.user, order), data: {'turbo-method': :patch}, class: 'form-btn mr-5'
    - if policy(order).destroy?
      = link_to 'Delete', user_order_path(order.user, order), data: {'turbo-method': :delete}, class: 'form-btn'
