.card
  %section
    %p.mb-1 User:
    = order.user.email
    %p.mb-1.mt-3 Date:
    = order.created_at.strftime("%Y-%m-%d")
    %p.mb-1.mt-3 Dishes ordered:
    %ol
    - order.dishes.each do |dish|
      %li
        = dish.name
    %p.mb-1.mt-3 Status:
    - if order.completed == true
      = 'completed'
    - else
      = 'pending'
  %section.mt-4.flex
    = link_to 'Toggle status', order_path(order), data: {'turbo-method': :patch}, class: 'btn'
    = link_to 'Delete', order_path(order), data: {'turbo-method': :delete}, class: 'btn ml-2'
