%h1.heading-1
  = "Order ##{@order.id}"

.flex.justify-center
  .card
    %section.mb-5
      %ol
        - @order.line_items.each do |item|
          %li.my-3.flex
            = item.dish.name
            - if policy(@order).destroy?
              = link_to 'Remove', line_item_path(item), data: {'turbo-method': :delete}, class: 'btn-sm ml-2'

    %section
      .flex
        - if @order.dishes.present?
          = link_to 'Back to dishes', restaurant_path(@order.dishes.last.restaurant), class: 'btn'
        - else
          = link_to 'Home', root_path, class: 'btn'
        - if policy(@order).create?
          = button_to 'Complete', orders_path, class: 'ml-2 btn'
        - if policy(@order).destroy?
          = link_to 'Cancel', order_path(@order), data: {'turbo-method': :delete}, class: 'ml-2 btn'
