%h1.heading-1
  My current order

.flex.justify-center
  .card
    %ol
      - @order.line_items.each do |item|
        %li.my-2.flex
          = item.dish.name
          = link_to 'Remove', line_item_path(item), data: {'turbo-method': :delete}, class: 'btn ml-2'

    .flex
      - if @order.dishes.present?
        = link_to 'Back to dishes', restaurant_path(@order.dishes.last.restaurant), class: 'btn'
      - else
        = link_to 'Home', root_path, class: 'btn'
      = button_to 'Complete', orders_path, class: 'ml-2 btn'
      = link_to 'Cancel', order_path(@order), data: {'turbo-method': :delete}, class: 'ml-2 btn'
