%article.card{id: dom_id(dish)}
  %section
    .block
      = image_tag dish.picture || ''
      -# %img{src: "/images/#{dish.picture}", alt: "#{dish.picture}"}
    .block
      = dish.name
    .block
      = dish.describe
    .block
    Ціна:
    = dish.price
    грн
    .block
    Вага:
    = dish.weight
    г
  %section.mt-2
    =# link_to 'Show', dish_path(dish), class: 'btn'
    = button_to 'Add to order', line_items_path(dish_id: dish), class: 'btn'
