%article.block.p-6.bg-white.rounded-lg.border.border-gray-200.shadow-md.h-auto.hover:bg-gray-100.dark:bg-gray-800.dark:border-gray-700.dark:hover:bg-gray-700.sm:w-auto.ml-32.md:w-full.lg:w-80{id: dom_id(dish)}
  %section.text-center
    .block.bg-white.flex.justify-center.items-center
    -if dish.avatar.attached?
      = image_tag dish.avatar
    -else
      %img{src: "/images/#{dish.picture}", alt: "#{dish.picture}"}
    .block.text-cyan-700.font-bold.text-xl
      = dish.name
    .block.mb-2
    = dish.describe
    .block.mb-2
    Ціна:
    = dish.price
    грн
    .block
    Вага:
    = dish.weight
    г
  %div.justify-center.items-center.flex
    .mt-6.inline-flex.items-center.py-2.px-3.text-sm.font-medium.text-white.bg-blue-700.rounded-lg.hover:bg-blue-800.focus:ring-4.focus:ring-blue-300.dark:bg-blue-600.dark:hover:bg-blue-700.dark:focus:ring-blue-800
      %button.mt-3
        = button_to line_items_path(dish_id: dish) do
          %svg.h-10.w-10{:fill => "black", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"}
      %br/
    = link_to 'Delete', restaurant_dish_path(@restaurant, dish), data: {turbo_method: :delete, confirm: "Are you sure?"}
    = link_to 'Edit',edit_restaurant_dish_path(@restaurant, dish)
