%article.card
  %section
    .block
      =# image_tag 'dish.picture' || '', onerror: {this.error = null}
      %img{src: "/images/#{dish.picture}", alt: "#{dish.picture}"}
    .block
      = dish.name
    .block
      = dish.describe
    .block
    Ціна:
    = dish.price
    грн
    .block
    Вага:
    = dish.weight
    г
  %section.mt-2
    =# link_to 'Show', dish_path(dish), class: 'btn'
