%article.card.hover:bg-gray-100{id: dom_id(dish)}
  %section.mb-4
    .block
      = image_tag dish.picture || '', size: '150x150'
  %section.mb-4
    .block.text-cyan-700.mb-2
      = dish.name
    .block.mb-2
      = dish.describe
    .block.mb-2
      Ціна:
      = dish.price
      грн
    .block
      Вага:
      = dish.weight
      г
  %section
    .inline-flex.items-center.py-2.px-3.text-sm.font-medium.text-white.bg-blue-700.rounded-lg.hover:bg-blue-800.focus:ring-4.focus:ring-blue-300.dark:bg-blue-600.dark:hover:bg-blue-700.dark:focus:ring-blue-800
      =button_to 'Вибрати', line_items_path(dish_id: dish), class: 'btn'
