= render 'shared/errors', object: @dish

.text-center.font-nav
  = form_with model: [@restaurant, @dish] do |f|
    .lable-add
      = f.label :name
      %br/
    = f.text_area :name, class: "form-control"
    %br/
    .lable-add
      = f.label :describe
      %br/
    = f.text_area :describe, class: "form-control"
    %br/
    .lable-add
      = f.label :price
      %br/
    = f.number_field :price, step: 0.01, class: "form-control"
    %br/
    .lable-add
      = f.label :weight
      %br/
    = f.number_field :weight, step: 0.01, class: "form-control"
    %br/
    .lable-add
      = f.label :avatar
      %br/
    = f.file_field :avatar, class: "form-control"
    %br/
    .lable-add
      = f.label :dish_type
      %br/
    = f.collection_select :dish_type_id, DishType.all, :id, :name
    %br/
    = f.submit "Зберегти", class:"form-btn mt-2"
