<section class=" bg-gray-200 ">
    <div class="w-full max-w-xs m-auto bg-gray-100 rounded p-5">
    <h2 class="text-3xl mb-4 font-medium text-center text-black">Reset password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field block mb-2  text-black">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form' %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class:'form-btn' %>
      </div>
    <% end %>

    <div class="text-sm text-center mt-3 text-black">
      <%= render "users/shared/links" %>
    </div>

</section>
