!!!
%html
  %head
    %title Lunch
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    %body.text-gray-600
      .container.mx-auto
        %header.p-4.border-b.sticky.top-0.z-30.w-full.px-2.py-4.bg-white.sm:px-4.shadow-xl
          %nav.md:flex.md:justify-between.pt-2
            = link_to 'Lunch', root_path, class: 'text-gray-700 text-xl md:text-2xl font-bold uppercase'
            %div.flex.items-center.space-x-1
              %ul.md:flex.hidden.space-x-2.md:inline-flex
                %li.md:mx-4.text-gray-700.font-bold.md:border-b
                  link1
                %li.md:mx-4
                  link2
                %li.md:mx-4
                  link3

        %main.p-8.bg-gray-100

          %p.notice
            = notice
          %p.alert
            = alert

          %section.container
            = yield

        %footer.py-8.text-xl.font-light.border-t.text-center
          &copy;
          = "Copyrignt #{Time.now.year} Lunch"
