!!!
%html
  %head
    %title Lunch
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    %body.text-gray-600
      %div
        %header.p-4.border-b.sticky.bg-cyan-700.fixed.top-0.shadow-xl.z-10.absolute
          %nav.flex.justify-between.text-white
            = link_to 'Lunch', root_path, class: 'text-white text-xl md:text-2xl mt-1 font-bold hover:text-cyan-200 uppercase'
            %div.hidden.sm:flex.items-center.space-x-1
              %ul.flex
                - if current_user and session[:order_id]
                  %li.mx-5.hover:text-cyan-200
                    = link_to 'My order', order_path(session[:order_id])
                %li.mx-5.hover:text-cyan-200
                  = link_to 'Users', users_path
                %li.mx-5.hover:text-cyan-200
                  = link_to 'History', orders_path
                %li.mx-5.hover:text-cyan-200
                  = link_to 'Profile', current_user
                - if user_signed_in?
                  %li.mx-5.hover:text-cyan-200
                    = link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}
                - else
                  %li.mx-5.hover:text-cyan-200
                    = link_to 'Log In', new_user_session_path

          %div.sm:hidden
            %button.flex.items-center.px-2.py-2.border.rounded.text-white.hover:text-white.hover:border-white.outline-none.mobile-menu-button
              %svg.h-6.w-6{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M4 6h16M4 12h16M4 18h16", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
          %div.mobile-menu.hidden.sm:hidden.text.text-white
            - if user_signed_in? and session[:order_id]
              .block-inline.py-2.px-4.text-sm.hover:bg-cyan-900
                = link_to 'My order', order_path(session[:order_id])
            .block-inline.py-2.px-4.text-sm.hover:bg-cyan-900
              = link_to 'History', orders_path
            .block-inline.py-2.px-4.text-sm.hover:bg-cyan-900
              = link_to 'Profile', current_user
            - if user_signed_in?
              .block-inline.py-2.px-4.text-sm.hover:bg-cyan-900
                = link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}
            - else
              .block-inline.py-2.px-4.text-sm.hover:bg-cyan-900
                = link_to 'Log In', new_user_session_path

          :javascript
            btn = document.querySelector("button.mobile-menu-button");
            menu = document.querySelector(".mobile-menu");

            btn.addEventListener("click", () => { menu.classList.toggle("hidden");});

      %main.p-8.bg-sky-200

        - if notice
          .flex.mb-5
            .notice
              = notice
        - if alert
          .flex.mb-5
            .alert
              = alert

        %section
          = yield

      %footer.py-8.text-xl.text-white.font-medium.border-t.text-center.bg-cyan-700
        &copy;
        = "Copyrignt #{Time.now.year} LUNCH"
