!!!
%html.min-h-full
  %head
    %title Lunch
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags

    %body.text-gray-600
      %header.p-4.border-b.sticky.bg-white.top-0.z-10.absolute.font-nav.text-2xl.min-h-20
        %nav.flex.justify-between.text-black
          = link_to (image_tag 'LUNCH.png', width:"150px"), root_path
          %div.hidden.sm:flex.items-center.space-x-1
            %ul.flex
              - if user_signed_in? and session[:order_id]
                %li.mx-5.hover:text-gray-400
                  = link_to 'My order', user_order_path(current_user, session[:order_id])
              - if user_signed_in?
                %li.mx-5.hover:text-gray-400
                  = link_to 'History', user_orders_path(current_user)
                %li.mx-5.hover:text-gray-400
                  = link_to 'Profile', current_user
                %li.mx-5.hover:text-gray-400
                  = link_to 'Users', users_path
              - if user_signed_in?
                %li.mx-5.hover:text-gray-400
                  = link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}
              - else
                %li.mx-5.hover:text-gray-400
                  = link_to 'Log In', new_user_session_path

          %div.sm:hidden
            %button.flex.items-center.px-2.py-2.border.rounded.text-black.hover:text-white.hover:border-white.outline-none.mobile-menu-button
              %svg.h-6.w-6{:fill => "none", :stroke => "black", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M4 6h16M4 12h16M4 18h16", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        %div.mobile-menu.hidden.sm:hidden.text-black
          - if user_signed_in? and session[:order_id]
            .block-inline.py-2.px-4.text-xl.hover:bg-gray-200
              = link_to 'My order', user_order_path(current_user, session[:order_id])
          - if user_signed_in?
            .block-inline.py-2.px-4.text-xl.hover:bg-gray-200
              = link_to 'History', user_orders_path(current_user)
            .block-inline.py-2.px-4.text-xl.hover:bg-gray-200
              = link_to 'Profile', current_user
            .block-inline.py-2.px-4.text-xl.hover:bg-gray-200
              = link_to 'Users', users_path
          - if user_signed_in?
            .block-inline.py-2.px-4.text-xl.hover:bg-gray-200
              = link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}
          - else
            .block-inline.py-2.px-4.text-sm.hover:bg-gray-200
              = link_to 'Log In', new_user_session_path

          :javascript
            btn = document.querySelector("button.mobile-menu-button");
            menu = document.querySelector(".mobile-menu");

            btn.addEventListener("click", () => { menu.classList.toggle("hidden");});

      %main.bg-gray-100.pb-16.p-8

        - if notice
          .flex.align-center.mb-5
            .notice
              = notice
        - if alert
          .flex.align-center.mb-5
            .alert
              = alert

        %section
          = yield

      %footer.styles-footer
        &copy;
        = "Copyrignt #{Time.now.year} LUNCH"
