!!!
%html
  %head
    %title Lunch
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    %body
      .container.mx-auto.text-center
        %header.p-8
          %nav.flex.justify-between
            = link_to 'Lunch', root_path, class: 'text-indigo-500 text-2xl'
            %div
              links

        .grid.grid-cols-12.gap-4
          %main.col-span-9.py-8

            %p.notice
              = notice
            %p.alert
              = alert

            %section.container
              = yield

          %aside.col-span-3.py-8 Sidebar

        %footer.py-8
          &copy;
          = "Copyrignt #{Time.now.year} Lunch"
