!!!
%html
  %head
    %title Lunch
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags


    %body.h-screen
      %header.p-4.border-b.sticky.bg-white.fixed.top-0.shadow-xl.z-10.absolute.font-nav.text-2xl
        %nav.flex.justify-between.text-black
          = link_to (image_tag 'LUNCH.png', width:"150px"), root_path
          -# = link_to image_tag( 'Lunch.png'), root_path
          -# .ui.medium.image
          -# %image{:alt => "", :src => "asset_path('Lunch.png')}"}
          -# %img(src="Lunch.png")
          -# = image_tag('images/Lunch', class:"img-responsive img-circle")
      %main.p-8.bg-gray-100.min-h-full
        - if notice
          .flex.align-center.mb-5
            .notice
              = notice
        - if alert
          .flex.align-center.mb-5
            .alert
              = alert

        = yield

      %footer.py-8.font-nav.text-3xl.text-black.font-medium.border-t.text-center.bg-white
        &copy;
        = "Copyrignt #{Time.now.year} LUNCH"
