!!!
%html
  %head
    %title Lunch
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags


    %body.h-screen
      %header
        %nav.bg-cyan-700.space-y-4
          %h1.p-5.text-2xl.text-blue-300.hover:text-white
            = link_to "Lunch", root_path
          -# = link_to image_tag( 'Lunch.png'), root_path
          -# .ui.medium.image
          -# %image{:alt => "", :src => "asset_path('Lunch.png')}"}
          -# %img(src="Lunch.png")
          -# = image_tag('images/Lunch', class:"img-responsive img-circle")

        %p.notice
          = notice
        %p.alert
          = alert

        = yield

      %footer.bg-cyan-700.py-8
        .container.mx-auto.text-center.text-white
          &copy;
          = "Copyrignt #{Time.now.year} Lunch"
